<form (ngSubmit)="onSubmit()" #inscriptionForm="ngForm">
  <div class="form-group col-md-12">

  <label for="email"> Email </label>
    <input type="text" name ="email" class="form-control" required [(ngModel)]="utilisateur['email']" name="email" />
</div>

<div class="form-group col-md-12">
    <label for="password"> Mot de passe </label>
    <input type="password" name="password" class="form-control" required
           [(ngModel)]="utilisateur['password']" name="password" />
</div>

    <input type="submit"  class="btn btn-primary mb-2" value="Se connecter"/>
</form>
<div class="row offset-md-5">
  <a   (click)="creerCompte()" role="button">créer un compte</a>
</div>
<p> {{message}} </p>

