<!-- <div class="row justify-content-center">
  <div class="card-body">
	<div *ngFor="let produit of produits" class="card">
	  <div class="card-text mx-auto"> {{produit['nom']}} ({{produit['type']}})
		 <div *ngIf="(user|async)"> <button> mais achetez donc !</button> </div>
	  </div>
	</div>
  </div>
</div> -->

<!-- div class="row">
	<ul class="list-group">
		
		<li  *ngFor="let produit of produits" class="list-group-item d-flex justify-content-between align-items-center">
				{{produit['nom']}} ({{produit ['type']}})
			<span class="badge badge-secondary badge-pill">pill2</span>
		</li>
		
	</ul>



</div> -->

<div class="card-deck mb-3 text-center">
		<div *ngFor="let produit of produits"  class="card mb-4 shadow-sm">
		  <div class="card-header">
			<h4 class="my-0 font-weight-normal">{{produit['nom']}} /{{produit['modele']}}</h4>
		  </div>
		  <div class="card-body">
			<h1 class="card-title pricing-card-title">{{produit['prix']}} <small class="text-muted">€</small></h1>
			<div class="list-unstyled mt-3 mb-4">
				<img  [src]='"assets/"+produit.nom+"_"+produit.modele+".jpg"' class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
			</div>
			<div *ngIf="(user|async)" class="ca"> 
			<button type="button" class="btn btn-lg btn-block btn-outline-primary" (click)="ajouterProduitPanier(produit['_id'])"> mais achetez donc 1</button>
		</div> 
		</div>
		</div>
	  </div>

