<!-- <div *ngIf="!(user|async)">
  <p class="card-header mx-auto"> En vous connectant,découvrez nos : </p>
  <div class="card-body">
    <div *ngFor="let categorie of categories" class="card">
       <p class="card-text mx-auto"> {{categorie}}</p>
    </div>
  </div>
</div>
<div *ngIf="user|async">
  <div class="card-header">Vous etes connecté :</div>"
  <div class="card-body">
    <div *ngFor="let categorie of categories">
      <p class="card-text mx-auto"> <input type="button" value="Allez vite découvrir nos {{categorie}}"
    (click)="produitsParCategorie(categorie)"/> </p>
    </div>
    {{panier |json}}
  </div>

  <div>
    <button type="button" class="btn btn-primary">mon panier</button>
  </div>
</div> -->


<section>
    <!-- <div class="container-fluid px-5px"> -->
        <div *ngIf="!(user|async)">
            <p class="card-header mx-auto"> En vous connectant,découvrez nos : </p>
        </div>
      <div  *ngFor="let categorie of categories" class="row mt-1">
      <div  class="col-lg-10 mb-10px px-5px">
        <div class="card border-0 text-center text-white"><img [src]='"assets/"+categorie+".jpg"' alt="Card image" class="card-img">
        <div class="card-img-overlay d-flex align-items-center"> 
          <div class="w-100">
          <h2 class="display-4 mb-4"> {{categorie}}   </h2>
          <button *ngIf="(user|async)" class="btn btn-light" (click)="produitsParCategorie(categorie)">Découvrir... <i class="fa-arrow-right fa ml-2"></i></button>
          </div>
        </div>
        </div>
      </div>	
    </div>
      <!-- </div> -->
    </section>

  